body {
    margin:0px;
    padding:0px;
  }
  
  .slider {
    height:400px;
    position:relative;
  }
  
  .slider .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0;
    transition : opacity 0.5s;
  }
  
  .active {
    opacity:1 !important;
  }
  
  .page-nav {
    display:flex;
    position:absolute;
    justify-content:center;
    bottom:0px;
    width:100%;
    margin-bottom:12px;
  }
  
  .page-nav > div {
    width:14px;
    height:14px;
    background-color:#303f9f;
    border-radius:6px;
    margin-right:12px;
    opacity:0.4;
    cursor:pointer;
  }
  
  .page-nav > .active {
    background-color : #fff;
  }