/*폰트적용*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/*노말라이즈*/
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*노말라이즈*/
a {
  color: inherit;
  text-decoration: none;
}

/*상단 메뉴 구성*/
.navigation {
  display: flex; /*flex 활용*/
  flex-direction: row; /*기본정렬*/
  justify-content: flex-end; /*맨 오른쪽 정렬*/
  list-style: none;
  background-color: deepskyblue;
}

/*상단 메뉴 텍스트*/
.navigation > li > a {
  text-decoration: none; /*글자 속성 초기화*/
  display: block;
  padding: 1rem;
  color: white;
}

/*상단 메뉴 텍스트에 마우스 대면 배경색 변경*/
.navigation > li:hover > a {
  background-color: #1565c0;
}

/*반응형 레이아웃(화면이 800이하면)*/
@media (max-width: 800px) {
  .navigation {
    justify-content: space-around; /*가운데 균등 정렬*/
  }
}

/*반응형 레이아웃(화면이 600이하면)*/
@media (max-width: 600px) {
  .navigation {
    flex-direction: column; /*좌측 아래로 정렬*/
    padding: 0;
  }
  /*반응형 레이아웃 안쪽에 추가 효과를 줘야 함*/
  /*상단 메뉴 텍스트 테두리에 입체감을 주기 위한 효과*/
  .navigation > li > a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  /*상단 메뉴 중 마지막 텍스트 타입에 효과 주기*/
  .navigation > li:last-of-type > a {
    border-bottom: none;
  }
}
