/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/*임시*/
h1 {
  display: none;
}

/*노말라이즈*/
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*노말라이즈*/
a {
  text-decoration: none;
  color: inherit;
}

/*라이브러리, 컨테이너의 con*/
.con {
  margin-left: auto;
  margin-right: auto;
}
/*커스텀, 넘치는거 처음부터 없애기*/
html,
body {
  overflow-x: hidden; /*음수마진으로 인해 넘치는 부분으로 스크롤바가 생기게 되는 버그를 없애주도록 처리*/
}

/*커스텀, 사이트마다 다르기 때문에 변경 소지가 다분함*/
.con {
  max-width: 1200px;
}

/*라이브러리(자주 이용할 태그 모음)*/
.img-box > img {
  width: 100%;
  display: block;
}

/*상품이미지,상품명,상품가격은 하나의 박스로 구성해야 유지보수,관리 용이*/
.cell {
  float: left; /*강제로 좌로 뜨게 한다.*/
  box-sizing: border-box; /*너비와 높이에 패딩과 테두리가 포함 적용한대로 박스안에 들어감*/
}

/*라이브러리, float 사용시 항상 추가 태그*/
.row::after {
  content: "";
  display: block;
  clear: both;
}

/*탑 이미지 박스(화면에 따라 줄어들기 위해 img-box 좌측 튀어나오는 부분 감추기)*/
.top-img-box-1 {
  overflow: hidden;
}

/*하단 이미지 총괄 박스*/
.prod-list-box-1 {
}

/*하단 이미지 총괄 박스 자식 상품 박스에게 좌우측 튀어나온 부분 음수마진으로 라인 맞추기 */
.prod-list-box-1 > ul {
  margin-left: -15px;
  margin-right: -15px;
}

/*상품 리스트(이미지,이름,금액) 박스*/
.prod-list-box-1 > ul > li {
  margin-top: 20px;
  width: calc(100% / 6); /*한 라인에 나올 갯수만큼 나누기*/
  padding: 0 15px;
  cursor: pointer;
}

/*반응형 레이아웃 조건걸기(화면 크기에 따라 변경)*/
/*화면의 너비가 981px 이상일 때 / 6등분 하겠다.*/
@media (min-width: 981px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 6);
  }
}

/*화면의 너비가 980px 이하 781px 이상일 때 / 5등분 하겠다.*/
@media (max-width: 980px) and (min-width: 781px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 5);
  }
  .top-img-box-1 > .img-box {
    margin-left: -20%;
  }
}

/*화면의 너비가 780px 이하 581px 이상일 때 / 4등분 하겠다.*/
@media (max-width: 780px) and (min-width: 581px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 4);
  }
  .top-img-box-1 > .img-box {
    margin-left: -30%;
  }
}

/*화면의 너비가 680px 이하 581px 이상일 때 / 3등분 하겠다.*/
@media (max-width: 680px) and (min-width: 581px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 3);
  }
  .top-img-box-1 > .img-box {
    margin-left: -40%;
  }
}

/*화면의 너비가 580px 이하 481px 이상일 때 / 2등분 하겠다.*/
@media (max-width: 580px) and (min-width: 481px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 2);
  }
  .top-img-box-1 > .img-box {
    margin-left: -50%;
  }
}

/*화면의 너비가 480px 이하일 때 / 1등분 하겠다.*/
@media (max-width: 480px) {
  .prod-list-box-1 > ul > li {
    width: calc(100% / 1);
  }
  .top-img-box-1 > .img-box {
    margin-left: -60%;
  }
}

/*상품명, 가운데정렬, 상단 간격 띄우기*/
.prod-list-box-1 > ul > li > .prod-name {
  text-align: center;
  margin-top: 10px;
}

/*상품명, 마우스 갓다대면 글자 하단부 라인생기게 하기*/
.prod-list-box-1 > ul > li:hover > .prod-name {
  text-decoration: underline;
}

/*금액, 가운데정렬, 글자크기*/
.prod-list-box-1 > ul > li > .prod-price {
  text-align: center;
  margin-top: 0.5rem;
}

/*금액, 우측에 '원' 붙이기, 글자크기*/
.prod-list-box-1 > ul > li > .prod-price::after {
  content: "원";
  font-size: 0.8rem;
}

/*이미지 박스*/
.prod-list-box-1 > ul > li > .img-box {
  position:relative; /*이미지박스에 배경 전체 적용됨(투명,불투명 적용)*/
  overflow:hidden; /*이미지 크게 되면서 넘치는 부분 자르기*/
}

.prod-list-box-1 > ul > li > .img-box::before {
  content:"";
  background-color:rgba(0,0,0,0); /*앞 1,2,3번 색깔, 4번 투명도*/
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition:background-color .3s;
  z-index:1;
}

.prod-list-box-1 > ul > li:hover > .img-box::before {
    background-color:rgba(0,0,0,0.5); /*마지막이 투명도*/
}

/*이미지박스에 vlew 효과주기*/
.prod-list-box-1 > ul > li > .img-box::after { 
  /*이미지 박스에서 맨 위로 올라와야 하기에 after로 줘야 함(before 말고)*/
  content:"view";
  text-transform:uppercase; /*대문자로 변환*/
  position:absolute; /*해줘야 위치 조정*/
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color:white;
  font-weight:bold;
  border:3px solid white;
  border-radius:5px;
  padding: 3px;
  opacity:0; /*투명도*/
  transition:opacity .4s;
  z-index:2; /*숫자가 높은게 우선순위로 화면 맨 위로 올라옴*/
}

/*vlew 마우스 올렸을 때 반투명으로 보이게 하기*/
.prod-list-box-1 > ul > li:hover> .img-box::after {
  opacity:1;
}

/*이미지 마우스 올렸을 때 크게 보이는 효과 시간 주기*/
.prod-list-box-1 > ul > li:hover> .img-box > img {
  transition:transform .3s;
}

/*이미지 사이즈 크게 하기*/
.prod-list-box-1 > ul > li:hover> .img-box > img {
  transform:scale(1.2);
}

