body {
  background-color:black;
}

h1 {
  color:#fff;
}

.parent {
  min-height:100px;
  width:400px;
  border:1px solid white;
  color:#fff;
  font-size:2rem;
  text-align:center;
}

.parent > div {
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  width:100px;
}

.box {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start !important;
  width:100% !important;
  height:100% !important;
}

.box > div {
  border: 1px solid green;
  height:50px;
  width:50px;
}